.music-affix{
	position:absoulte;
	top:400px;
	left:400px;
}

.content{
	position:relative;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 20px 5px;
    margin-bottom: -1px;
    background-color: black;
    border: 1px solid #ddd;
}

a.list-group-item:hover{
	background-color: #ddd;
}

.hide{
	display:none;
}

.item-content{
	list-style:none;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.clearfix:after{
	content: '\0020';
    display: block;
    height: 0;
    clear: both;
}

.item-content .td{
	float:left;
	min-height: 90px;
	padding:10px;
}

.item-content .item-pic{
	max-height: 80px;
	max-width: 80px;
}

.item-content .item-chk{
	width: 15px;
}

.item-content .item-detail{
	width:120px;
}

.item-content .item-trash{
	position:relative;
}

.item-content .item-trash span{
	position:absolute;
	top: 40%;
	left: 0;
}





